body {
  background-color: #121212;

}

.table-dark {
  background-color: #2a2a2a;
}

.table-dark th, .table-dark td {
  border: 1px solid #444;
}

.form-control {
  background-color: #2a2a2a;
  border: 1px solid #444;
  color: white; /* Color del texto dentro de los inputs */
}

.form-control:focus {
  background-color: #333;
  border-color: #007bff;
  color: white; /* Asegura que el texto sea blanco incluso cuando el input está enfocado */
}

textarea.form-control {
  color: white; /* Color del texto dentro del textarea */
}

input::placeholder, textarea::placeholder {
  color: #bbb; /* Color para el texto del placeholder */
}


