body {
  background-color: #f0f0f0;
  color: black;
}

h2, h3 {
  color: black;
}

.form-control, .form-select {
  background-color: #333;
  color: white;
  border: 1px solid #ccc;
}

.form-control:focus, .form-select:focus {
  border-color: #007bff;
}

.list-group-item {
  background-color: #f8f9fa;
  color: black;
}

.list-group-item:hover {
  background-color: #e2e6ea;
}

.btn {
  color: white;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.text-dark {
  color: black;
}

input::placeholder, textarea::placeholder{
  color: #bbb; /* Color para el texto del placeholder */
}

/* Estilo para las opciones del select */
.form-select option {
  color: #bbb; /* Color del texto de las opciones */
  background-color: #333; /* Fondo de las opciones */
}

